*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 1.5rem;
    margin: 0 auto;
}

.header .logo
{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
}

.header ul
{
    display: flex;
    list-style: none;
    gap: 8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}

.banner
{
    background-image: url("./images/img1.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: 2s ease;
}

.banner .glass-wrapper
{
    width: 30%;
    height: 100%;
    background: rgba( 245, 166, 35, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hero-title
{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10rem;
    color: #ffffff;
}

.hero-title h3
{
    font-size: 47px;
    text-transform: uppercase;
}

.hero-title p
{
    margin-top: 15px;
    font-size: 85px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 30px;
}

.hero-title p span, span
{
    color:  rgba( 245, 166, 35, 0.9 );;
}

.hero-title .details
{
    width: 60%;
    padding-top: 1.5rem;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 1.5px;
    padding-bottom: 2.5rem;
}

.hero-title .visit button
{
    background: rgba( 245, 166, 35, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: none;
    padding: 12px 50px;
    border-radius: 50px;
    cursor: pointer;
}

.hero-title .visit button a
{
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1.5px;
}

.classList-pic
{
    bottom: 25px;
    position: absolute;
    left: 35rem;
}

.classList-pic ul
{
    display: flex;
    gap: 20px;
    list-style: none;
    width: 65vw;
    height: 15rem;
    align-items: center;
}

.classList-pic .thumbnail
{
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 18rem;
    background-size: cover !important;
    border-radius: 8px;
}

.classList-pic .active
{
    margin-top: -5rem;
}